{% extends 'layout/layout-main.html.twig' %}

{% block content %}

    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="{{ asset('assets/img/header-bg/2.jpg') }}">
        <div class="container">
            <h2>Characters</h2>
        </div>
    </section>
    <!-- Page top section end -->

    <!-- Character section 1 -->
    <section class="characters-section character-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="character-info">
                        <h2>Lifeline</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vestibulum malesuada aliquet libero viverra cursus. Aliquam erat volutpat. Morbi id dictum quam, ut commodo lorem.</p>
                        <div class="progress-warp">
                            <div class="cp-item">
                                <div class="circle-progress" data-cpid="id-1" data-cpvalue="75" data-cpcolor="#BF352F"></div>
                                <h4>Strenghts</h4>
                            </div>
                            <div class="cp-item">
                                <div class="circle-progress" data-cpid="id-2" data-cpvalue="90" data-cpcolor="#BF352F"></div>
                                <h4>Power</h4>
                            </div>
                            <div class="cp-item">
                                <div class="circle-progress" data-cpid="id-3" data-cpvalue="80" data-cpcolor="#BF352F"></div>
                                <h4>Weapons</h4>
                            </div>
                        </div>
                        <a href="{{ url('news') }}" class="site-btn">See Related News</a>
                    </div>
                </div>
            </div>
            <div class="character-img">
                <img src="{{ asset('assets/img/characters-boxes/1.png') }}" alt="">
            </div>
        </div>
    </section>
    <!-- Character section 1 end -->

    <!-- Characters boxes section -->
    <section class="characters-boxes-section spad">
        <div class="container">
            <div class="game-title">
                <h2>The Characters</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 sidebar">
                    <div class="sb-widget">
                        <form class="sb-search">
                            <input type="text" placeholder="Search">
                        </form>
                    </div>
                    <div class="sb-widget">
                        <h2 class="sb-title">Categories</h2>
                        <ul class="sb-cata-list">
                            <li><a href="">DPS<span>20</span></a></li>
                            <li><a href="">Tanks<span>23</span></a></li>
                            <li><a href="">Supports<span>25</span></a></li>
                        </ul>
                    </div>
                </div>

                {% for i in 0..10 %}

                    <div class="col-lg-3 col-sm-6">
                        <a href="#">
                            <div class="characters-box">
                                <img src="{{ asset('assets/img/characters-boxes/1.png') }}" alt="">
                                <h4>Lifeline</h4>
                                <p>Vestibulum malesuada aliquet libero viverra cursus. Aliquam erat volut-pat. Morbi id dictum quam, ut com-modo lorem.</p>
                            </div>
                        </a>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>
    <!-- Characters boxes section end -->

{% endblock %}