<div id="accordion">
    <div class="accordion-menu">
        <a class="accordion-header" data-target="#types" data-toggle="collapse">
            News Types
        </a>
        <div id="types" class="collapse sub-menu" data-parent="#accordion">
            <ul class="sb-cata-list checklist">
                <li><a href="">Events<span>2</span></a></li>
                <li><a class="active" href="">Updates<span>7</span></a></li>
                <li><a href="">Miscellaneous<span>3</span></a></li>
            </ul>
        </div>
    </div>
    <div class="accordion-menu">
        <a class="accordion-header" data-target="#characters" data-toggle="collapse">
            Characters
        </a>
        <div id="characters" class="collapse sub-menu" data-parent="#accordion">
            <ul class="sb-cata-list">
                <li>
                    <a class="accordion-header" data-target="#offensive" data-toggle="collapse">
                        Offensive
                    </a>
                    <div id="offensive" class="collapse sub-menu" data-parent="#characters">
                        <ul class="sb-cata-list checklist">
                            <li><a href="">Bangalore<span>2</span></a></li>
                            <li><a class="active" href="">Mirage<span>7</span></a></li>
                            <li><a href="">Octane<span>3</span></a></li>
                            <li><a href="">Revenant<span>3</span></a></li>
                            <li><a href="">Wraith<span>3</span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="accordion-header" data-target="#defensive" data-toggle="collapse">
                        Defensive
                    </a>
                    <div id="defensive" class="collapse sub-menu" data-parent="#characters">
                        <ul class="sb-cata-list checklist">
                            <li><a href="">Caustic<span>2</span></a></li>
                            <li><a class="active" href="">Gibraltar<span>7</span></a></li>
                            <li><a href="">Rampart<span>3</span></a></li>
                            <li><a href="">Wattson<span>3</span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="accordion-header" data-target="#support" data-toggle="collapse">
                        Support
                    </a>
                    <div id="support" class="collapse sub-menu" data-parent="#characters">
                        <ul class="sb-cata-list checklist">
                            <li><a href="">Lifeline<span>2</span></a></li>
                            <li><a class="active" href="">Loba<span>7</span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="accordion-header" data-target="#recon" data-toggle="collapse">
                        Recon
                    </a>
                    <div id="recon" class="collapse sub-menu" data-parent="#characters">
                        <ul class="sb-cata-list checklist">
                            <li><a href="">Bloodhound<span>2</span></a></li>
                            <li><a class="active" href="">Crypto<span>7</span></a></li>
                            <li><a href="">Pathfinder<span>3</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="accordion-menu">
        <a class="accordion-header" data-target="#weapons" data-toggle="collapse">
            Weapons
        </a>
        <div id="weapons" class="collapse sub-menu" data-parent="#accordion">
            <ul class="sb-cata-list">
                <li>
                    <a class="accordion-header" data-target="#ar" data-toggle="collapse">
                        Assault Rifles
                    </a>
                    <div id="ar" class="collapse sub-menu" data-parent="#weapons">
                        <ul class="sb-cata-list checklist">
                            <li><a href="">G7 Scout<span>2</span></a></li>
                            <li><a class="active" href="">HAVOC Rifle<span>7</span></a></li>
                            <li><a href="">Hemlok Burst AR<span>3</span></a></li>
                            <li><a href="">R-301 Carbine<span>3</span></a></li>
                            <li><a href="">VK-47 Flatline<span>3</span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="accordion-header" data-target="#smg" data-toggle="collapse">
                        Sub Machine Guns
                    </a>
                    <div id="smg" class="collapse sub-menu" data-parent="#weapons">
                        <ul class="sb-cata-list checklist">
                            <li><a href="">Alternator SMG<span>2</span></a></li>
                            <li><a class="active" href="">Prowler Burst PDW<span>7</span></a></li>
                            <li><a href="">R-99<span>3</span></a></li>
                            <li><a href="">Volt SMG<span>3</span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="accordion-header" data-target="#lmg" data-toggle="collapse">
                        Light Machine Guns
                    </a>
                    <div id="lmg" class="collapse sub-menu" data-parent="#weapons">
                        <ul class="sb-cata-list checklist">
                            <li><a href="">Devotion LMG<span>2</span></a></li>
                            <li><a class="active" href="">L-STAR EMG<span>7</span></a></li>
                            <li><a href="">M600 Spitfire<span>3</span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="accordion-header" data-target="#sr" data-toggle="collapse">
                        Sniper Rifles
                    </a>
                    <div id="sr" class="collapse sub-menu" data-parent="#weapons">
                        <ul class="sb-cata-list checklist">
                            <li><a href="">Charge Rifle<span>2</span></a></li>
                            <li><a class="active" href="">Kraber .50-cal Sniper<span>7</span></a></li>
                            <li><a href="">Longbow DMR<span>3</span></a></li>
                            <li><a href="">Sentinel<span>3</span></a></li>
                            <li><a href="">Triple Take<span>3</span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="accordion-header" data-target="#sg" data-toggle="collapse">
                        Shotguns
                    </a>
                    <div id="sg" class="collapse sub-menu" data-parent="#weapons">
                        <ul class="sb-cata-list checklist">
                            <li><a href="">EVA-8 Auto<span>2</span></a></li>
                            <li><a class="active" href="">Mastiff Shotgun<span>7</span></a></li>
                            <li><a href="">Mozambique Shotgun<span>3</span></a></li>
                            <li><a href="">Peacekeeper<span>3</span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="accordion-header" data-target="#p" data-toggle="collapse">
                        Pistols
                    </a>
                    <div id="p" class="collapse sub-menu" data-parent="#weapons">
                        <ul class="sb-cata-list checklist">
                            <li><a href="">P2020<span>2</span></a></li>
                            <li><a class="active" href="">RE-45 Auto<span>7</span></a></li>
                            <li><a href="">Wingman<span>3</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>