{% extends 'layout/layout-admin.html.twig' %}

{% block header %}<a class="navbar-brand" href="{{ url('newsList') }}">News</a>{% endblock %}

{% block content %}

    <div class="col-md-10">

        {{ form(form) }}

    </div>

{% endblock %}